html, body{
    padding: 0;
    margin: 0;
}
.large-font{
    font-family:'Trebuchet MS';
    font-weight: 400;
}
#outer-container{
    padding-top: 20px;
}
.search{
    margin-bottom: 3%;
}
.btn{
    margin-top: 3%;
    /* margin-bottom: 3%; */
}
h2{
    font-weight: 400;
}
#display-panel  *{
    margin-top: 1rem !important;

}